@model BiotrananMVC.Models.Movie

<div class="text-center">
    <h1 class="display-4">Filminformation</h1>
</div>

<div class="movie-details">
    <h3>@Model.Title</h3>
    <p>Regissör: @Model.Directors</p>
    <p>Skådespelare: @Model.Actors</p>
    <p>Beskrivning: @Model.Description</p>
    <p>Speltid: @Model.MovieLength</p>
</div>

<h3>
    <a asp-controller="Home" asp-action="MovieReservation" asp-route-id="@Model.MovieId">Reservera</a>
</h3>

