@model List<BiotrananMVC.Models.MovieView>
@* @{
    ViewData["Title"] = "Kommande filmvisningar";
}
<h1>@ViewData["Title"]</h1> *@

<div class="text-center">
    <h1 class="display-4">Kommande Film visningar</h1>
</div>

@foreach (var movieView in @Model)
{
    <div class="movieView" id="movieView-@movieView.MovieViewId">
        <h3>Film: @movieView.MovieTitle</h3>
        <h3>Visas i salong: @movieView.SalonId</h3>
        <h3>Dag: @movieView.Date</h3>
    </div>
}


@* @foreach (var movieView in @Model)
{
    <div class="movieView-title">
        <h3>@movieView.MovieTitle</h3>
        <h3>@movieView.SalonId</h3>
        <h3>@movieView.Date</h3>
        <h3>@movieView.Salon</h3>
       
    </div>
} *@

